.top{
	background-color: black;  */
	max-height: 60px;
	color: white;
	/* background-image: url("img2/gradient.png"); */
	background-size: 100%;
	
	
}
.topBox{
	/*background-color: black; */
	
}
html{
	background-color: black;
}

img{
	float: left;
	
}

h3{
	
	float: right;
	color: white;
	margin-right: 10px;
	margin-top: 30px;
}
/* h3{
	
	margin-right: 150px;
	color: black;
	float: right;
} */
.navi{ 
	background-color: white;
	/* margin-top: 20px */
	height: 40px;
	float: right;
	max-width: 460px;
	border-radius: 10px;
	margin-top: 100px;
}
.navi ul{
	margin: 0;
	padding: 0 5px;
}

.navi ul li {
	list-style: none;
	
}
.navi ul li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	/* color: white; */
	color: black;
} 

.navi ul li a:hover{
	color: darkgray;
}

.details{
	list-style: none;
	display: inline;
	/* float: right; */
	margin-top: 100px;
}
body > div > div.details > ul > li{
	margin: 5px 5px 5px 30%;
	padding: 0 20px 0 20px;	
	list-style: none;
	border-radius: 15px;
}

.intro img{
	/* float: right; */
}

.intro p4{
	float: left;
	color: black;
	margin-left: 150px
}


