html {
	background-color: black;
}

.navi{ 
	/* margin-top: 20px */
	height: 40px;
	background: grey;
	max-width: 75%; 
}
.navi ul{
	margin: 0;
	padding: 0 5px;
	
}

.navi ul li {
	list-style: none;
}
.navi ul li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	color: white;
} 

.navi ul li a:hover{
	color: red;
}

.headerBreak{
	width: 100%;
	height: 0;
	border-bottom: 2px solid grey;
}

