.top{
	background-color: black; 
	max-height: 60px;
	color: white;
}
.topBox{
	background-color: black;
	
}
html{
	background-color: #f0f0f0;
}
#bodyColor{
	background-color: red;
}

img{
	float: left;
}
h3{
	float: right;
	color: black;
	margin-right: 10px;
	margin-top: 30px;
}
/* h3{
	
	margin-right: 150px;
	color: black;
	float: right;
} */
.navi{ 
	/* margin-top: 20px */
	height: 40px;
	float: right;
	max-width: 460px;
	border-radius: 10px;
	margin-top: 100px;
}
.navi ul{
	margin: 0;
	padding: 0 5px;
}

.navi ul li {
	list-style: none;
	
}
.navi ul li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 10px 20px;
	/* color: white; */
	color: black;
} 

.navi ul li a:hover{
	color: darkgray;
}

.details{
	list-style: none;
	display: inline;
	
}
.details ul  li{
	margin: 5px;
	padding: 0 5px;

}

.intro{

}

.intro p4{
	float: left;
	color: black;
	margin-left: 150px
}


