.page-header{
	background-color: gray;
	margin-top: 0;
	padding-top: 0;
	/* border: */
	
}
p{
	margin-bottom:0;
	background-color: black;
	color:black;
}
h5{
	font-family: 'Nunito', sans-serif; 
	font-size: 1.2em;
	font-weight: 400;
	color: white;
	padding-top: 10px;
}
.jumbotron {
	background-color: black; 
	color: white;
	font-family: 'Radley', sans-serif;
	text-align: center 
	
	
}
.jumbotron img{
	float: left;
	
}

img{
	border-radius: 4%;
	opacity: 0.8;
}
.nav{
	margin-top: 30px;
}
 
#detail{
	float: right;
	background-color: lightgray;
	
}

#detail li{
	float: right;
	margin-right: 30px;
	margin-top: 50px;
	list-style: none;
	display: inline;
}
html{
	background-color: lightgray;
}